@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap");






body{
    background-color: aqua
    
    ;
}
.section_localisation {
    padding: 0 5vw;
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
}
.btn{ 
    background: linear-gradient(170deg, #ff79da, #9356dc);
    color: white;
    font-size: large;
    padding: 1rem;
    border-radius: 50px;
    border: none;
    margin-bottom: 7vw;
    box-shadow: 4px 4px 2px lightgrey;
    width: 60vw;
    max-width: 250px;
    align-self: center;
    transition: 250ms;
    cursor: pointer;
  }
  .btn:hover {
    background: linear-gradient(170deg, rgba(255, 121, 218, 0.8) 0%, rgba(214, 108, 219, 0.8) 39%, rgba(171, 94, 220, 0.8) 85%, rgba(155, 89, 220, 0.8) 100%);
    box-shadow: 8px 8px 2px #acabab;
  }